.app{
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
}

button.slick-arrow.slick-next::before{
  color: rgb(237, 232, 232);
  font-size: 22px;
}

button.slick-arrow.slick-prev::before{
  color: rgb(237, 232, 232);
  font-size: 22px;
}

.card{
background-color: black;
border-radius: 8px;
color: white;
}

.card-top h1{
  font-size: 1rem;
  margin: 10px 10px;
}

.card-top > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list{
  margin: 0 -10px;
}


.card-bottom{
  margin: 10px 20px;
}

.image-carousel{
  
}