.hero-image{
  position: relative;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../../images/flo.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.hero-section{
  background-image:url('../../images/Pihladelphia.jpeg');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 30%;
  min-height: 30vh;
  top: 60%;
  border-radius: 5px;
}

.hero-section::before{
  content: "";
  height: 40%;
  width: 120px;
  background-color: rgb(154, 6, 6);  
  position: absolute;
  top: -5px;
  left: -7px;
  border-radius: var(--border-radius);
  z-index: -1;
}

.right-side{
  background-color: black;
  color: white;
}

.hero-content-two{
  min-height: 20vh;
  background: rgb(33, 31, 31);
  color: white;
}

.work-area{
  background: rgb(33, 31, 31);
}

.work-area-context{
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-area span{
  color: rgb(183, 179, 179);
}

.work-area-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 75px;
  font-size: 35px;
}

.typewrite{
  font-size: 25px;
  margin-top: 15px;
}


.myWork-content{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.myWork-heading{
  font-size: 32px;
}

.myWork-paragraph{
  font-size: 16px;
}

.portfolio-item-wrapper {
  position: relative;
  margin: 15px;
  cursor: pointer;
}

.portfolio-item-wrapper .item{
  border: 1px solid rgb(112, 109, 109);
}

.portfolio-item-wrapper:hover .item{
  filter: brightness(20%);
}

.portfolio-items-wrapper {
  background: rgb(13, 13, 13);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-img-background{
  height: 350px;
  width: 100%;
  filter: brightness(70%);
}

.portfolio-img-background:hover{
  filter: brightness(20%);
}

.one{
  background: url('../../images/weather.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
  filter: brightness(50%);
}


.two{
  background: url('../../images/pizza.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(50%);
}

.three{
  background: url('../../images/coffee.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(50%);
}

.four{
  background: url('../../images/motor.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(50%);
}


.five{
  background: url('../../images/budjet.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(35%);
}

.six{
  background: url('../../images/todo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(50%);
}


.seven{
  background: url('../../images/task-master.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(50%);
}

.eight{
  background: url('../../images/note.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(50%);
}


.nine{
  background: url('../../images/schedule.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(50%);
}


.ten{
  background: url('../../images/thoughts.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(70%);
}

.eleven{
  background: url('../../images/todo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(70%);
}

.twelve{
  background: url('../../images/thoughts.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(70%);
}

.thirteen{
  background: url('../../images/thoughts.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(70%);
}

.img-text-wrapper {
  position: absolute;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}


.logo-wrapper img {
  width: 20%;
  margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
  transition: 1s;
  color: transparent;
}

.img-text-wrapper:hover .subtitle {
  color: rgb(191, 193, 195);
}

.fa-brands, .fa-solid {
  font-size: 50px;
  margin: 2px;
  color: rgb(191, 193, 195);
}

@media screen and (max-width: 756px){

  .portfolio-items-wrapper {
    background-color: rgb(60, 59, 58);
    display: grid;
    grid-template-columns: 1fr;
  }
}


@media screen and (max-width: 556px){
  .hero-section{
    width: 60%;
    min-height: 20vh;
    top: 83%;
  }

  .hero-section::before{
    border-radius: 5px;
  }

  .portfolio-items-wrapper {
    background-color: rgb(13, 13, 13);
    display: grid;
    grid-template-columns: 1fr;
  }

  .work-area-content h2{
   font-size: 35px; 
  }

  .typewrite{
    font-size: 15px;
  }

  .portfolio-img-background{
    height: 250px;
    width: 100%;
    filter: brightness(70%);
  }
} 